BROKER_URL=tcp://192.168.88.188:55555
BROKER_VPN=ai168
BROKER_USERNAME=user01
BROKER_PASSWORD=password

KIOSK_HOST_URL=http://192.168.88.188:9000
KIOSK_ITINERARY_DB=/srv/db/itinerary.db
KIOSK_FLIGHTS_JSON=/srv/mock/flights.json
KIOSK_FRONTEND_DIST=/srv/frontend-dist
KIOSK_BRAND_DIR=/srv/brand
